<h1 class="text-center">Editing Biblio</h1>

<%= render 'form', bib: @bib %>

<div class="container">
  <div class="float-right">
    <%= link_to 'Show', @bib, class: "btn btn-outline-info btn-sm" %> 
    <%= link_to 'Back', bibs_path, class: "btn btn-outline-primary btn-sm" %>
  </div>
</div>