<h1 class="text-center">New Biblio</h1>

<%= render 'form', bib: @bib %>

<div class="container">
  <div class="float-right">
    <%= link_to 'Back', :back, class: "btn btn-outline-primary btn-sm" %>
  </div>
</div>
