<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Biblio!</h1>

  <h2>
    This is the home page for the Bibliography Database Research
    sample application.
  </h2>
  
  <%= link_to "Begin now!", '#', class: "btn btn-lg btn-primary" %>
</div>