<% provide(:title, "Home") %>
<div class="jumbotron">
  <h1 class="text-center">Welcome to Biblio!</h1>

  <h2>
    This is the home page for the Bibliography Database Research
    sample application.
  </h2>
</div>

<%= render 'layouts/search' %>
