<% provide(:title, "Home") %>
<div class="jumbotron">
  <h1 class="text-center">Welcome to World Address Biblio!</h1>

  <h2 class="text-center">
      This is the home page of the World Address Bibliography Research Database web application. 
      (A <a href="http://arts.unimelb.edu.au/rumaccc", class="text-info", target="_blank">RUMACCC</a> project)
  </h2>
</div>

<%= render 'layouts/search' %>
