<!--div class="row">
	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="author_cb" checked="true">
      		</span>
      		<span class="input-group-addon">Author</span>
  		</div>
  	</div>

	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="year_cb" checked="true">
      		</span>
      		<span class="input-group-addon">Year</span>
  		</div>
  	</div>

  	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="title_cb" checked="true">
      		</span>
      		<span class="input-group-addon">Title</span>
  		</div>
  	</div>

  	<div class=>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="publication_cb" checked="true">
      		</span>
      		<span class="input-group-addon">Publication</span>
  		</div>
  	</div>

  	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="publisher_cb" checked="true">
      		</span>
      		<span class="input-group-addon">Publisher</span>
  		</div>
  	</div>

  	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="name_cb" checked="true">
      		</span>
      		<span class="input-group-addon">Bibleo Name</span>
  		</div>
  	</div>

  	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="LP_cb" checked="true">
      		</span>
      		<span class="input-group-addon">Language Published</span>
  		</div>
  	</div>

	  <div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="LR_cb" checked="true">
      		</span>
      		<span class="input-group-addon">Language Researched</span>
  		</div>
  	</div>

  	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="CR_cb" checked="true">
      		</span>
      		<span class="input-group-addon">Country of Research</span>
  		</div>
  	</div>

  	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="keywords_cb" checked="true">
      		</span>
      		<span class="input-group-addon">Keywords</span>
  		</div>
  	</div>

  	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="isbn_cb" checked="true">
      		</span>
      		<span class="input-group-addon">ISBN</span>
  		</div>
  	</div>

  	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="issn_cb" checked="true">
      		</span>
      		<span class="input-group-addon">ISSN</span>
  		</div>
  	</div>

  	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="url_cb" checked="true">
      		</span>
      		<span class="input-group-addon">URL</span>
  		</div>
  	</div>

  	<div class>
  		<div class="input-group">
      		<span class="input-group-addon">
        		<input type="checkbox" id="date_cb" checked="true">
      		</span>
      		<span class="input-group-addon">Date of Entry</span>
  		</div>
  	</div>
</div-->

<div class = "container">
  <div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked> Author
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked> Year
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked> Title
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" checked> Publication
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5" checked> Publisher
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6" checked> Biblio Name
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7" checked> Language Published
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8" checked> Language Researched
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9" checked> Country of Research
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10" checked> Keywords
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11" checked> ISBN
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option12" checked> ISSN
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option13" checked> URL
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="option14" checked> Date of Entry
  </label>
</div>
</div>


<br>