<footer class="footer">
  <form class="form-inline float-right">
    <small>
      <ul class="list-inline">
        <!--li class="list-inline-item">The Bibliography Database Research by Jiatao Wu.</li-->
        <li class="list-inline-item"><%= link_to "About",   about_path, class: " text-secondary" %></li>
        <li class="list-inline-item"><%= link_to "Contact", contact_path, class: "text-secondary" %></li>
      </ul>
    </small>
  </form>
</footer>