<header class="navbar navbar-dark bg-dark justify-content-between">
    <div class="container">
        <%= link_to "LIBRARY", bibs_path, class: "navbar-brand" %>
        <div>
          <form class="form-inline">
            <%= link_to 'Add New Biblio', new_bib_path, class: "btn btn-outline-secondary navbar-brand" %>
            <%= link_to "Home",   home_path, class: "navbar-brand" %>
            <%= link_to "Help",   help_path, class: "navbar-brand" %>
          </form>
        </div>
     </div>
</header>